/* M PLUS Code Lating fonts */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'M PLUS Code Latin', sans-serif;
}
